<form action="/login" method="post">
  <dl>
      
    <dt>
      <label for="username">Insert username:</label>
    </dt>
    <dd>
      <input name="username" placeholder="Username" type="text" value="">
    </dd>
    
    <dt>
      <label for="password">Insert password:</label>
    </dt>
    <dd>
      <input name="password" placeholder="Password" type="password" value="">
    </dd>
    
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Log in">
    <a href='/new_user'>New User?</a>
  </fieldset>
</form>



